h1, h2, h3, h4, h5, h6{
  color: #2c3e50;
}
.meta-data{
  color: #95a5a6;
  font-size: 13px;
}
a{
  color: #3498db;
}
.footer-text {
  padding-top: 15px;
  padding-bottom: 10px;
  font-size: 12px;
}
#widget{
  margin-bottom: 20px;
}
.rounded{
  font-weight: normal;
  color: #2c3e50;
}
