h1, h2, h3, h4, h5, h6{
  color: #2c3e50;
}
a{
  color: #3498db;
}
img {
  max-width: 100%;
  height: auto;
}

.meta-data{
  color: #95a5a6;
  font-size: 13px;
}

.footer-text {
  padding-top: 15px;
  padding-bottom: 10px;
  font-size: 12px;
}
#widget{
  margin-bottom: 20px;
}
.rounded{
  font-weight: normal;
  color: #2c3e50;
}

.wp-caption{

}
.wp-caption-text{

}
.sticky{
  
}
.screen-reader-text{

}
.gallery-caption{

}
.bypostauthor{

}
.alignright{

}
.alignleft{

}
.aligncenter{

}
